/*Base styles*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 36%, 90%);
    color: hsl(210, 93%, 29%);
    text-align: center;
    font-family: 'Roboto Slab', Arial, serif;
    font-weight: 300;
}

h1 {
    margin: 32px;
}

#compliment-container {
    display: flex;
    justify-content: space-around;
    padding: 32px;
}

.compliment {
    background-color: hsl(212, 43%, 65%);
    flex-basis: 200px;
    color: white;
    padding: 32px;
}

.highlight {
    color: hsl(210, 93%, 19%);
    font-weight: 400;
    position: relative;
}

footer {
    background-color: hsl(29, 100%, 47%);
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*OPDRACHTEN: */

.compliment P:before {
    content: "''";
}

.compliment p:after {
    content: "''";
}

/*HOVER OPDRACHT*/

.highlight:hover::after{
    position: absolute;
    content: "Dit is een latijns woord";
    width: 180px;
    height: 40px;
    background-color: hsl(29, 100%, 47%);
    top: -50px;
    left: -20px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    text-align: center;
}

.highlight:hover::before{
    position: absolute;
    content: "";
    border-top:solid 10px hsl(29, 100%, 47%);
    border-right:solid 10px transparent;
    border-bottom:solid 10px transparent;
    border-left:solid 10px transparent;
    top: -10px;
    left: 50px;
}
